@namespace BlazorCountdown.Layout
@inherits LayoutComponentBase

<div class="page">
    <header class="game-header">
        <div class="logo-container">
            <img src="images/countdown-logo.svg" alt="Countdown Logo" class="countdown-logo" />
        </div>
    </header>
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
