<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d9568185-62b8-4b02-ad55-530ef8a4b4a7/resourceGroups/countdownblazor_group/providers/Microsoft.Web/sites/countdownblazor</ResourceId>
    <ResourceGroup>countdownblazor_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://countdownblazor.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>3cc42c63-325d-bbee-fb1d-b8b8d4332a4d</ProjectGuid>
    <PublishUrl>https://countdownblazor.scm.azurewebsites.net/</PublishUrl>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>Self-contained</SelfContained>
    <RuntimeIdentifier>Portable</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAj1ZFN3FrC0+D3c9bYxPCJwAAAAACAAAAAAAQZgAAAAEAACAAAAD1d1nDsKfmEuevVLMJl0pLJBCEvvKW0Z6FtiLD7/rfegAAAAAOgAAAAAIAACAAAACTDXDsV4rJFky4e3GWZbR+xG7CVd1WOMoJLhiBQJRr3iAAAABk2zs43nZd1oC+qlG6wyu+CVjECKrSzTEkj8eeVqaiFEAAAADeTH7w2sXTVNjc0npHSsQ2PHfvVAPvYfhmWg9L3YObNE9VL26ilEmaKI/9tjSdsD5UVslV3PrUnUsFe0+Y7nxk</EncryptedPassword>
    <History>False|2025-02-02T08:39:01.1005172Z;</History>
    <IsBasicAuthAllowed>True</IsBasicAuthAllowed>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>